<li id="comment-<%= comment._id %>">
    <p>
        <%if( locals.user && comment.user.id==locals.user.id){%>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>">X</a>
            </small>
            <%}%>
                <small>
                    <i>
                        <%= comment.user.name %>
                    </i>
                </small>
                <br>
                <%= comment.content %>
    </p>
</li>