<header>

    <div class="container">
        <div id="navbar">

            <nav>

                <a href="" class="navbar-brand">Codeial</a>

                <div>
                    <!-- left link -->
                    <ul class="navbar-nav left-items">
                        <li class="nav-item">
                            <a href="/">Home</a>
                        </li>

                        <li class="nav-item">
                            <a href="">Page 1</a>
                        </li>

                        <li class="nav-item">
                            <a href="">Page 2</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav right-items">
                        <% if(locals.user){%>

                            <li class="nav-item">
                                <a href="/users/profile"><i class="fas fa-user"></i></a>
                            </li>

                            <li class="nav-item">
                                <a href="/users/sign-out"><span class="fa fa-sign-out"></span>Sign Out</a>
                            </li>

                            <%}else{%>
                                
                                <li class="nav-item">
                                    <a href="/users/sign-up"><span class="fa-solid fa-user-plus"></span>Sign Up</a>
                                </li>

                                <li class="nav-item">
                                    <a href="/users/sign-in"><span class="fa fa-sign-in"></span>Sign In</a>
                                </li>

                                <%}%>
                    </ul>
                </div>

            </nav>
        </div>

    </div>
</header>