<link rel="stylesheet" href="/css/home.css">

<% if(!locals.user){ %>
    <div class="welcome">
        <h2>Welcome to Home Page &#128525</h2>
        <h3>Kindly sign in to post something exciting &#128515</h3>
    </div>

    <hr>
    <% } %>

        <section id="feed-posts">

            <h3>Posts</h3>

            <% if(locals.user){ %>
                <h4>Post something...</h4>
                <div class="form-outline">
                    <form action="/posts/addPost" id="new-post-form" method="POST">

                        <textarea class="form-area" name="content" cols="30" rows="4" placeholder="Type here.."
                            required></textarea>
                        <button type="submit">Post</button>
                    </form>
                </div>

                <% } %>

                    <hr>

                    <div id="posts-list-container">

                        <ul>
                            <% for (post of posts) {%>

                                <%- include("_post") %>
                                    <hr>

                                    <%}%>
                        </ul>
                    </div>
        </section>


<section id="user-friends">

    <h4>Friends</h4>

    <%for(u of all_users){%>

        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>

    <%}%>
    
</section>