<link rel="stylesheet" href="/css/signin.css">

<div class="main">
    <div class="login">

        <form action="/users/create-session" method="POST">
            <label>Sign In</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button type="submit">Sign in</button>

        </form>

        <div>
            <p>
                <a href="/users/auth/google">Google Sign In/Sign Up</a>
            </p>
        </div>

    </div>
</div>