#footer{
    background: #212d43;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 20px;
    font-size: 0.9rem;

    .container{
        display: flex;
        justify-content:space-around;
        align-items: center;
        flex-wrap: wrap;

        .footer-copyright{
            text-align: center;
        }

        .menu{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            margin-bottom: 0;

            a{
                color: white;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}