.container {
    width: 100%;
    display: inline-block;
    
    // NAVIGATION BAR
    #navbar {

        nav {
            overflow: hidden;
            background-color: #4267B2;
            position: relative;
            display: flex;
            align-items: center;
            top: 0;
            width: 100%;
            padding: 0 12px;

            .navbar-brand {
                font-size: 1.7rem;
                display: flex;
                align-items: center;
                font-weight: 600;
                margin-right: 1.5rem;
                color: white;
            }

            div {
                display: flex;
                position: relative;
                flex-direction: row;
                width: 100%;

                .navbar-nav {
                    display: flex;
                    justify-content: center;
                    margin-top: 0;
                    padding: 0;
                    margin-bottom: 0;
                }

                .left-items {
                    width: 16%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        font-size: 17px;
                        padding: 0.25rem;
                        height: 100%;
                        padding: 15px 10px;
                        &:hover{
                            background-color: #605858;
                        } 

                        a{
                            color: white;
                        }
                    }
                }


                .right-items {
                    position: absolute;
                    right: 0;
                    width: 15%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    li {
                        display: inline;
                        font-size: 17px;
                        padding: 0.25rem;
                        padding: 15px 9px;
                        &:hover{
                            background-color: #605858;
                        } 

                        a{
                            color: white;
                            span {
                                margin-right: 4px;
                                color: rgb(231, 223, 223);
                            }

                        }
                        
                    }
                }
            }
        }
    }

}