// $spacer: 1rem;
// $spacers: ( 0:0);
// @for $i from 1 through 150 {
//   $spacers: map-merge($spacers, (
//   $i: ($i * $spacer)
//   ));
// }

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto",Arial,sans-serif;
    line-height: 1.5;
    color: #1b2a45;
    margin: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.alert-info{
    margin-top: 70px;
}
